/* Animations */

h1 {
  animation: fadeIn 1s ease-in-out;
}

img {
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}

video {
  border-radius: 12px;
}

iframe {
  border-radius: 12px;
}

@keyframes fadeIn {
  from {
    opacity:0;
    transform: translateY(20px);
  }
  to {
    opacity:1;
    transform: translateY(0);
  }
}
